version: '3.8'

services:
  db:
    image: postgres
    environment:
      POSTGRES_DB: riverside_orthos
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${RIVERSIDE_ORTHOS_DATABASE_PASSWORD}

  app:
    image: orthopaedicasssociatesofriverside:latest
    command: bash -c "rm -f tmp/pids/server.pid && rails s -b '0.0.0.0'"
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file:
      - .env
    environment:
      RAILS_ENV: development