<!DOCTYPE html>
<html>
<head>
  <title>Your Application Name</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Add your other meta tags, stylesheets, and scripts here -->
</head>
<body>
  <%= yield %>
  <!-- Add your common layout elements like navigation, footer, etc. here -->
</body>
</html>
